<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
    <img
      class="d-inline-block align-top"
      src="assets/logo.jpg"
      width="35"
      height="30"
      alt=""
      draggable="false"
    />

    Keplis
  </a>

  <div class="kps-spacer"></div>

  <form class="form-inline mr-sm-2">
    <input class="form-control" placeholder="Search" />
  </form>

  <a
    class="btn btn-primary mr-2"
    routerLink="sign-in"
  >
    Sign In
  </a>

  <a
    class="btn btn-outline-light"
    routerLink="sign-up"
  >
    Sign Up
  </a>
</nav>

<main class="bg-primary">
  <h1 class="text-light">Product communication platform</h1>
</main>
