:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  main {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

    h1 {
      text-align: center;
    }
  }
}
